* {
  box-sizing: border-box;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 250px;
  width: 175px;
  /* flex-wrap: wrap; */
  color: white;
  border-radius: 10px;
}

.pokemonImage {
  height: 75%;
  width: 75%;
  object-fit: contain;
}
