:root {
  --search-gray: rgba(223, 223, 223, 0.5);
  --search-dark-gray: #5d6d7e;
  font-family: "Bubblegum Sans", "Arial Rounded MT Bold", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #77d2ff;
}

.contentWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #77d2ff;
  z-index: 1;
  position: relative;
  min-height: 100vh;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 300px;
  width: 200px;
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.cardContainer:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.pokemonImage {
  height: 200px;
  width: 200px;
  object-fit: contain;
  margin-bottom: auto;
}

.detailsImage {
  height: 250px;
  width: 250px;
  object-fit: contain;
}

.cardList {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.search {
  background-color: rgba(223, 223, 223, 0.5);
  padding: 8px;
  width: max-content;
  border-radius: 100vh;
  display: flex;
  align-items: center;
}

.pokeInput {
  color: var(--search-dark-gray);
  height: 40px;
  width: 300px;
  font-size: 1.15rem;
  margin-left: 5px;
  border: none;
  background: transparent;
  outline: none;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.pokeInput::placeholder {
  color: var(--search-dark-gray);
  opacity: 1;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.searchWrapper {
  width: max-content;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 20px;
}

.searchIcon {
  color: var(--search-dark-gray);
}

.searchFilter {
  background-color: var(--search-gray);
  color: var(--search-dark-gray);
  height: auto;
  width: auto;
  outline: none;
  border: none;
  padding: 5px;
  border-radius: 5%;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.pokeCardLabel {
  font-size: 28px;
  margin-top: auto;
  text-align: center;
  margin-bottom: 15px;
}

.pokeCardId {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 15px;
}

.detailsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #77d2ff;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-family: "Bubblegum Sans";
  height: 100vh;
  width: 100vw;
}

.detailsCard {
  /* background-color: #5d6d7e; */
  display: flex;
  flex-direction: column;
  padding: 50px;
  border-radius: 4.5%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2);
}

.detailsHeader {
  display: inline-block;
  text-align: center;
  /* margin-top: 50px; */
}

.detailsTitle {
  font-size: 3.5rem;
}

.detailsSubtitle {
  font-size: 1.3rem;
}

.detailsSecond {
  display: flex;
  flex-direction: row;
  /* margin: 0px 50px 50px 50px; */
}

.detailsImageContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
  margin-right: 20px;
  background: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4%;
  padding: 10px;
}

.detailsInformation {
  margin-top: 20px;
  background: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 4%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.flavorText {
  width: 450px;
  font-size: 1.4rem;
}

.detailsSubheader {
  font-size: 2rem;
  margin: 5px 0px;
}

.abilities {
  display: flex;
  flex-direction: column;
}

.abilitiesItem {
  display: inline;
  margin: 0px 15px;
  font-size: 1.4rem;
}

.stats {
  display: flex;
  width: 95%;
  justify-content: space-between;
}

.statParagraph {
  margin: 10px 0px;
  font-size: 1.4rem;
}

.subStats1,
.subStats2 {
  margin-top: -10px;
}

.skeleton {
  background: linear-gradient(90deg, #e0e0e0 25%, #f4f4f4 50%, #e0e0e0 75%);
  background-size: 200% 100%;
  animation: skeleton-loading 1.5s infinite;
  border-radius: 5px;
}

@keyframes skeleton-loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.skeletonText {
  width: 100%;
  height: 1rem;
  margin-bottom: 0.25rem;
  border-radius: 0.125rem;
}

.skeletonSubtitle {
  width: 60%;
  height: 1rem;
  margin-bottom: 0.25rem;
  border-radius: 0.125rem;
}

.skeletonText:last-child {
  width: 85%;
  margin-bottom: 0;
}

.loadingWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.loadingTitle {
  color: white;
  font-size: 4rem;
  margin-bottom: 20px;
}

.loadingBuffer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clouds {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.cloud {
  position: absolute;
  left: -200px;
  animation: moveClouds linear infinite;
  opacity: 0.8;
  z-index: -1;
  will-change: transform;
}

@keyframes moveClouds {
  0% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(120vw);
  }
}

.about {
  margin-top: auto;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* color: white;
  font-size: 1.5rem;
  font-family: "Raleway", sans-serif; */
}

.aboutParagraph {
  font-weight: 500;
  font-size: 1.5rem;
  font-family: "Raleway", sans-serif;
  color: whitesmoke;
}
